# Data Type

In [2]:
umur = 23

In [3]:
umur

23

In [10]:
berat = 55.5

In [11]:
berat

55.5

In [7]:
perempuan = True

In [ ]:
perempuan = False

In [8]:
perempuan

True

# Function

In [12]:
min(-1,0,1,2)

-1

In [13]:
max(-1,0,1,2)

2

In [15]:
sum([-1,0,1,2])

2

In [16]:
abs(-1)

1

In [18]:
round(-3.1)

-3

In [19]:
round(3.5)

4

In [21]:
text = 'Saya Ingin Menjadi Seorang Data Scientist'

In [22]:
text

'Saya Ingin Menjadi Seorang Data Scientist'

In [23]:
text.lower()

'saya ingin menjadi seorang data scientist'

In [24]:
text.upper()

'SAYA INGIN MENJADI SEORANG DATA SCIENTIST'

In [25]:
text.strip()

'Saya Ingin Menjadi Seorang Data Scientist'

In [26]:
text.split()

['Saya', 'Ingin', 'Menjadi', 'Seorang', 'Data', 'Scientist']

In [27]:
"_".join(text.split())

'Saya_Ingin_Menjadi_Seorang_Data_Scientist'

In [28]:
text.replace("a","i")

'Siyi Ingin Menjidi Seoring Diti Scientist'

In [29]:
type(text)

str

# Conditional, Looping, and Create Function

### Conditional

In [31]:
umur = 16

In [32]:
if umur <17:
    print("anak_anak")

anak_anak

In [33]:
umur = 23

In [34]:
if umur<17:
    print("anak_anak")
else:
    print("bukan anak_anak")

bukan anak_anak

In [35]:
umur = 62

In [38]:
if umur<17:
    print("anak_anak")
elif umur <60:
    print("umur produktif")
else:
    print("Lansia")

Lansia

### Looping

In [40]:
numbers = [0,1,2,3,4,5,6]

In [43]:
jumlah = 0
for number in numbers:
    print("proses", number)
    jumlah = jumlah + number
print(jumlah)

proses 0
proses 1
proses 2
proses 3
proses 4
proses 5
proses 6
21

In [46]:
numbers2 = range(7)

In [47]:
list(numbers2)

[0, 1, 2, 3, 4, 5, 6]

In [48]:
jumlah = 0
for number in numbers2:
    print("proses", number)
    jumlah = jumlah + number
print(jumlah)

proses 0
proses 1
proses 2
proses 3
proses 4
proses 5
proses 6
21

In [50]:
i=0

In [52]:
jumlah = 0
while i<7:
    print("proses", i)
    jumlah = jumlah +i
    i= i + 1

proses 0
proses 1
proses 2
proses 3
proses 4
proses 5
proses 6

In [53]:
print(jumlah)

21

In [54]:
def my_function():
    print("Hello","World")

In [55]:
my_function()

Hello World

In [56]:
def is_square(panjang,lebar):
    if panjang == lebar:
        print("Persegi")
    else:
        print("Persegi Panjang")

In [57]:
is_square(2,2)

Persegi

In [58]:
is_square(2,4)

Persegi Panjang

In [59]:
is_square(panjang = 5, lebar = 3)

Persegi Panjang

In [60]:
def get_area(panjang, lebar):
    return panjang*lebar

In [62]:
get_area(5,4)

20

In [63]:
def get_summary(numbers):
    count = len(numbers)
    jumlah = sum(numbers)
    return count,jumlah

In [64]:
get_summary(numbers)

(7, 21)

# Data Frame

In [65]:
numbers = [1,2,3,4,5]

In [66]:
numbers

[1, 2, 3, 4, 5]

In [67]:
len(numbers)

5

In [68]:
numbers.append(6)

In [69]:
numbers

[1, 2, 3, 4, 5, 6]

In [71]:
numbers[1:3]

[2, 3]

In [72]:
numbers[:3]

[1, 2, 3]

In [73]:
numbers[2:]

[3, 4, 5, 6]

In [75]:
biodata = {
    "nama" : "Budi",
    "umur" : 17,
    "tempat_tinggal" : "bandung"
}

In [77]:
biodata.keys()

dict_keys(['nama', 'umur', 'tempat_tinggal'])

In [78]:
biodata.values()

dict_values(['Budi', 17, 'bandung'])

### Import Data Frame

In [79]:
import pandas as pd

In [81]:
outlook = [
     "sunny", "sunny", "overcast", "rainy", "rainy", 
     "rainy", "overcast", "sunny", "sunny", "rainy",
     "sunny", "overcast", "overcast", "rainy",
]

temp = [
     "hot", "hot", "hot", "mild", "cool", 
     "cool", "cool", "mild", "cool", "mild",
     "mild", "mild", "hot", "mild",
]


humidity = [
     "high", "high", "high", "high", "normal", 
     "normal", "normal", "high", "normal", "normal",
     "normal", "high", "normal", "high",
]

windy = [
     False, True, False, False, False, 
     True, True, False, False, False,
     True, True, False, True,
]

play = [
     "no", "no", "yes", "yes", "yes", 
     "no", "yes", "no", "yes", "yes",
     "yes", "yes", "yes", "no",
]

In [82]:
df = pd.DataFrame(
   {
       "outlook" : outlook,
       "temp" : temp,
       "humidity" : humidity,
       "windy": windy,
       "play": play
   }
)

In [83]:
df

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [85]:
df.shape

(14, 5)

In [86]:
df.describe()

       outlook  temp humidity  windy play
count       14    14       14     14   14
unique       3     3        2      2    2
top      sunny  mild     high  False  yes
freq         5     6        7      8    9

In [88]:
df.outlook.describe()

count        14
unique        3
top       sunny
freq          5
Name: outlook, dtype: object

In [89]:
df["new_column"] = "new value"

In [90]:
df

     outlook  temp humidity  windy play new_column
0      sunny   hot     high  False   no  new value
1      sunny   hot     high   True   no  new value
2   overcast   hot     high  False  yes  new value
3      rainy  mild     high  False  yes  new value
4      rainy  cool   normal  False  yes  new value
5      rainy  cool   normal   True   no  new value
6   overcast  cool   normal   True  yes  new value
7      sunny  mild     high  False   no  new value
8      sunny  cool   normal  False  yes  new value
9      rainy  mild   normal  False  yes  new value
10     sunny  mild   normal   True  yes  new value
11  overcast  mild     high   True  yes  new value
12  overcast   hot   normal  False  yes  new value
13     rainy  mild     high   True   no  new value

In [91]:
df["play-1"] = df["play"].shift(-1)

In [92]:
df

     outlook  temp humidity  windy play new_column play-1
0      sunny   hot     high  False   no  new value     no
1      sunny   hot     high   True   no  new value    yes
2   overcast   hot     high  False  yes  new value    yes
3      rainy  mild     high  False  yes  new value    yes
4      rainy  cool   normal  False  yes  new value     no
5      rainy  cool   normal   True   no  new value    yes
6   overcast  cool   normal   True  yes  new value     no
7      sunny  mild     high  False   no  new value    yes
8      sunny  cool   normal  False  yes  new value    yes
9      rainy  mild   normal  False  yes  new value    yes
10     sunny  mild   normal   True  yes  new value    yes
11  overcast  mild     high   True  yes  new value    yes
12  overcast   hot   normal  False  yes  new value     no
13     rainy  mild     high   True   no  new value    NaN

In [93]:
df.head()

    outlook  temp humidity  windy play new_column play-1
0     sunny   hot     high  False   no  new value     no
1     sunny   hot     high   True   no  new value    yes
2  overcast   hot     high  False  yes  new value    yes
3     rainy  mild     high  False  yes  new value    yes
4     rainy  cool   normal  False  yes  new value     no

In [95]:
df.tail()

     outlook  temp humidity  windy play new_column play-1
9      rainy  mild   normal  False  yes  new value    yes
10     sunny  mild   normal   True  yes  new value    yes
11  overcast  mild     high   True  yes  new value    yes
12  overcast   hot   normal  False  yes  new value     no
13     rainy  mild     high   True   no  new value    NaN

In [96]:
df.sample()

  outlook  temp humidity  windy play new_column play-1
4   rainy  cool   normal  False  yes  new value     no

In [97]:
df[["outlook", "temp"]]

     outlook  temp
0      sunny   hot
1      sunny   hot
2   overcast   hot
3      rainy  mild
4      rainy  cool
5      rainy  cool
6   overcast  cool
7      sunny  mild
8      sunny  cool
9      rainy  mild
10     sunny  mild
11  overcast  mild
12  overcast   hot
13     rainy  mild

In [100]:
df.outlook

0        sunny
1        sunny
2     overcast
3        rainy
4        rainy
5        rainy
6     overcast
7        sunny
8        sunny
9        rainy
10       sunny
11    overcast
12    overcast
13       rainy
Name: outlook, dtype: object